extends layout

block content
  h1= title
  p Welcome to #{title}, a Federal Open Data API to help citizens find free and low-cost health clinics, Section 8 housing, and stores that accept SNAP (food stamp) cards.